*{
	margin-top: 3px;
	padding: 0;
	font-family: 'Poppins',scans-serif;
	box-sizing: border-box;
}
.btnwa{
	background: #3c00a0;
	color: #fff;
	height: 50px;
	width: 50%;
	border: 0%;
	outline: 0%;
	border-radius: 20px;
	padding-left: 10px;
	padding-right:10px ;
	cursor: pointer;	
}

.wela{
	color: #f1f0f3;
	width: 432.8px;
	height: 523px;
	border-radius: 15px;
	border-top-right-radius: 160px;
	border-bottom-right-radius: 165px;
	background-color:#3c00a0;
	padding-top: 17%;
	padding-left:12%;
	top: 10%;
	left: 17.73%;
	align-items: center;
	position: absolute;
	display: block;
	z-index: 10;
	display:none;
	transition:1s ease-in;
	
}

.container{
	width: 100%;
	height: auto;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: row;
}
.form-boxa{
	width: 50%;
	max-width: 450px;
	/* margin-left: 400px; */
	/* position:absolute;
	top: 50%;
	left: 35%;
	transform: translate(-50%,-50%); */
	margin: auto;
	/* background-color: rgb(247, 246, 246); */
	border-radius: 15px;
	padding: 50px 60px 70px;
}

.input-field{
	background: #eaeaea;
	margin: 15px 0;
	border-radius: 3px;
	display:flex;
	align-items: center;
	max-height:65px;
	transition:max-height 0.5s;
	overflow: hidden;
}
input{
	width: 100%;
	background: transparent;
	border: 0;
	outline: 0;
	padding: 18px 15px;
}
.input-field i{
	margin-left: 15px;
	color: #999;
}
form p{
	text-align:left;
	font-size: 13px;
}
form p a{
	text-decoration: none;
	color: #3c00a0;
}
.btn-field{
	width: 100%;
	display:flex;
	justify-content: space-between;
}
.btn-field button{
	flex-basis: 48%;
	background: #3c00a0;
	color: #fff;
	height: 50px;
	border-radius: 20px;
	border: 0;
	outline: 0;	
	cursor: pointer;
	transition: background 1s;
}
.input-group{
	height: 250px;
	margin-bottom: 20px;
}
.btn-field button.disable{
	background: #eaeaea;
	color: #555;
}
.dable
{
	display: none;
}

.active
{
	display: block;
}
.img-a{
	margin-top: 20px;
	width: 55%;
	
}
.img-a img{
	margin:0;
	height: 550px;
	width: 100%;
}